<a href="https://colab.research.google.com/github/pcur/AI_Text_Detection/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Preprocessing for AI Detection
For now, using this dataset:
https://www.kaggle.com/datasets/mtesconi/twitter-deep-fake-text

In [1]:
import pandas as pd
import tensorflow as tf

In [2]:
#folder location for data
dataHome = '/content/drive/MyDrive/Real Time ML Final Project/data/'

#names of csvs from dataset
data1Name = 'train.csv'
data2Name = 'test.csv'
data3Name = 'validation.csv'

data1 = pd.read_csv(dataHome + data1Name)
data2 = pd.read_csv(dataHome + data2Name)
data3 = pd.read_csv(dataHome + data3Name)

In [3]:
data2

,screen_name,text,account.type,class_type
0,zawvrk,justin timberlake really one of the goats if y...,human,human
1,narendramodi,Thank you @PMBhutan for your gracious prayers ...,human,human
2,ahadsheriff,Theory: the number of red lights you will hit ...,human,human
3,AINarendraModi,Respects on the Upt of the I good with the peo...,bot,rnn
4,kevinhooke,Might give the BASIC #10Liner game contest ano...,human,human
...,...,...,...,...
2553,ahadsheriffbot,“The best kept secret,bot,others
2554,kevinhooke,Love the Choose your own adventure style of th...,human,human
2555,dril_gpt2,JOIN OUR TEAM: Sneezing,bot,gpt2
2556,kevinhooke,These deeply discounted 256GB SanDisk flash dr...,human,human
2557,zawvrk,@deleonfc6 diamond pearl and platinum were hon...,human,human

We want the merged data as we're going to change the length, we'll split it up again later.

In [4]:
#appending dataframes together end-end
dataTotal = pd.concat([data1, data2, data3])
dataTotal

,screen_name,text,account.type,class_type
0,imranyebot,YEA now that note GOOD,bot,others
1,zawvrk,Listen to This Charming Man by The Smiths htt...,human,human
2,zawarbot,wish i can i would be seeing other hoes on the...,bot,others
3,ahadsheriffbot,The decade in the significantly easier schedul...,bot,others
4,kevinhookebot,"""Theim class=\""alignnone size-full wp-image-60...",bot,rnn
...,...,...,...,...
2297,DeepDrumpf,You're going to be even prouder when we don't ...,bot,rnn
2298,jaden,https://t.co/10XkzXDBCf https://t.co/cIUIYWEB45,human,human
2299,ahadsheriff,2. “Once you take the place of the people who ...,human,human
2300,imranyebot,black will be like a company with them need so...,bot,others
2301,GenePark_GPT2,"Guys, I hate Facebook. And this Facebook ad ca...",bot,gpt2

 We're also going to remove unneeded information here, which includes account type and screenname.

In [5]:
#popping unneedded columns
dataTotal.pop("account.type")
dataTotal.pop("screen_name")

0           imranyebot
1               zawvrk
2             zawarbot
3       ahadsheriffbot
4        kevinhookebot
             ...
2297        DeepDrumpf
2298             jaden
2299       ahadsheriff
2300        imranyebot
2301     GenePark_GPT2
Name: screen_name, Length: 25572, dtype: object

Removing RNN entries from the csv as their value seems much lower as they mostly make no sense.

In [6]:
#removing rnn rows
dataTotal = dataTotal[(dataTotal.class_type != "rnn")]
dataTotal

                                                   text class_type
0                                YEA now that note GOOD     others
1     Listen to This Charming Man by The Smiths  htt...      human
2     wish i can i would be seeing other hoes on the...     others
3     The decade in the significantly easier schedul...     others
5                            matrix 2: pedaphile killer      human
...                                                 ...        ...
2296  10 Key Takeaways From Gartner's 2018 Magic Qua...      human
2298    https://t.co/10XkzXDBCf https://t.co/cIUIYWEB45      human
2299  2. “Once you take the place of the people who ...      human
2300  black will be like a company with them need so...     others
2301  Guys, I hate Facebook. And this Facebook ad ca...       gpt2

[21465 rows x 2 columns]

In [7]:
#saving the new merged data

dataTotalName = 'totalData.csv'

dataTotal.to_csv(dataHome + dataTotalName, index=False)